.artefacts {
    padding: 0px 150px;
    &_title {
        text-align: center;
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #000000;
        margin-top: 80px;
    }
    &_content {
        margin-top: 80px;

        .slick-prev {
            left:  -110px;
            top: 170px;
        }
        .slick-next {
            right: -110px;
            top: 170px;
        }
    }
    &_artefactsCard {
        width: 360px;
        margin-left: 25px;
        text-align: center;
        img {
            width: 314px;
            height: 314px;
            text-align: center;
        }
        h3 {
            margin-top: 25px;
            font-weight: bold;
            font-size: 20px;
            line-height: 140.3%;
            text-align: center;
        }
        p {
            margin-top: 20px;
            font-size: 16px;
            line-height: 19px;
            text-align: center;
            color: #626262;
        }
    }
    &_button {
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }    
}

.slick-slide img {
    display: inline-block !important;
    text-align: center;
}

@media (max-width: 1024px) {
    .artefacts {
        padding: 0px;
        &_title {
            font-size: 20px;
            margin-top: 30px;
        }
        &_artefactsCard{
            margin-left: 10px;
            width: 195px;
            img {
                width: 180px;
                height: 180px;
            }
            h3 {
                font-size: 12px;
                line-height: 140.3%;
                margin-top: 10px;
            }
            p {
                font-size: 10px;
                line-height: 12px;  
                margin-top: 8px;
            }
        }
        &_content {
            margin-top: 10px;
            .slick-next {
                right: 15px;
                width: 30px !important;
                height: 30px !important;
                top: 100px !important;
            }
            .slick-prev{
                left: 15px;
                width: 30px !important;
                height: 30px !important;
                top: 100px !important;
            }
        }
        &_button {
            margin-top: 30px;
            button {
                padding: 16px 30px;
            }
        }
    }
}

@media (max-width: 400px) {
    .artefacts {
        &_artefactsCard {
            margin-left: 10px;
        }
    }
}
