* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: 'Lava Pro';
}
a {
  color: inherit;
  text-decoration: none;
}

.slick-dots {
  display: none !important;
}

.slick-prev, .slick-next {
  width: 77px !important;
  height: 77px !important;
  background: rgba(174, 174, 174, 0.5) !important;
  border-radius: 5px !important;
  z-index: 1;
}
@media (max-width: 1024px) {
  
}

@media (min-width: 1922px) {
  .container {
    max-width: 1920px;
    margin: auto;
  }
  .section {
    max-width: 1921px;
    margin: auto;
  }
}

@media (min-width: 1921px){
  .mainVideo {
    max-width: 100%;
    height: 100vh;
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  
    &_title {
      width: 679px;
      height: 122px;
      position: absolute;
      bottom: 460px;
      margin-left: 100px;
  
     span {
      font-weight: 500;
      font-size: 20px;
      line-height: 113.3%;
      color: #DFDFDF;
     }
  
     h1 {
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #DFDFDF;
      margin-top: 14px;
     }
    }
  }
  .container {
    margin: 0 auto;
    padding: 0px 100px;
  }
  .articles {
    &_card {
      justify-content: space-evenly;
    }
  }
}

@media (max-width: 1920px){
  .container {
    padding: 0px;
  }

  .mainVideo {
    max-width: 100%;
    height: 100vh;
    position: relative;
  
    img {
      width: 100%;
      height: 100%;
      z-index: 0;
    }
  
    &_title {
      width: 679px;
      height: 122px;
      position: absolute;
      bottom: 260px;
      margin-left: 100px;
  
     span {
      font-weight: 500;
      font-size: 20px;
      line-height: 113.3%;
      color: #DFDFDF;
     }
  
     h1 {
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #DFDFDF;
      margin-top: 14px;
     }
    }
  }
}

.articles {
  &_button {
    display: flex;
    justify-content: center;

    
      button {
        padding: 16px 52px;
        border: 2px solid #A83132;
        box-sizing: border-box;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        line-height: 140.3%;
        color: #A83132;
        background: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin-bottom: 120px;

        img {
          width: 18px;
          height: 14px;
          margin-left: 23px;
        }
      } 
  }
  &_card {
    display: flex;
    margin-top: 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
      width: 100%;
    }
  }
  &_title {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    margin-top: 120px;
  }
}

@media (max-width: 1024px){
  .mainVideo {
    height: auto;
    img {
      height: 500px;
      
    }
    &_title {
      bottom: 190px;
      width: 291px;
      margin-left: 22px;
      h1 {
        font-size: 24px;
        line-height: 117.8%;
        letter-spacing: -0.03em;
      }
      span {
        font-size: 12px;
      }
    }
  }

  .articles {
    &_title {
      margin-top:30px;
      font-size: 22px;
    }
    &_card {
      margin-top: 25px;
    }
  }
}







