.header {
    background-color: white;
    padding: 50px 100px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &_logo {
        width: 300;
        img {
            width: 100%;
        }
    }

    &_nav {  
        ul {
            display: flex;
            margin-top: 15px;
            li {
                margin-right: 40px;
            }
        }
    }
}

// Адаптивные стили

@media (max-width: 1024px) {
    .header {
        display: inline-block;
        padding: 18px 22px;

        &_logo {
            width: 100px
        }
        &_nav {
            display: none;
        }
    }
}