.titleBlock {
    padding-top: 175px;
    text-align: center;
    h1 {
        color: white;
        font-weight: bold;
        font-size: 70px;
        line-height: 113.3%;
        letter-spacing: -0.02em;
    }
}

@media (max-width: 800px) {
    .titleBlock {
        display: none;
    }
}